@font-face {
  font-family: 'Brown Bold';
  font-style: normal;
  font-weight: bold;
  src: url('./lineto-brown-bold.eot'),
       url('./lineto-brown-bold.eot?#iefix') format('embedded-opentype'),
       url('./lineto-brown-bold.woff') format('woff'),
       url('./lineto-brown-bold.ttf') format('truetype'),
       url('./lineto-brown-bold.svg#Darkenstone') format('svg');
}
