@font-face {
  font-family: 'Brown Light';
  font-style: normal;
  font-weight: lighter;
  src: url('./lineto-brown-light.eot'),
       url('./lineto-brown-light.eot?#iefix') format('embedded-opentype'),
       url('./lineto-brown-light.woff') format('woff'),
       url('./lineto-brown-light.ttf') format('truetype'),
       url('./lineto-brown-light.svg#Darkenstone') format('svg');
}
