@font-face {
  font-family: 'Brown Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./lineto-brown-regular.eot'),
       url('./lineto-brown-regular.eot?#iefix') format('embedded-opentype'),
       url('./lineto-brown-regular.woff') format('woff'),
       url('./lineto-brown-regular.ttf') format('truetype'),
       url('./lineto-brown-regular.svg#Darkenstone') format('svg');
}
